/*global setting*/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    scroll-behavior:smooth;
    scrollbar-width: none;
}

body {
    background-color:#35495f;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

p {
    padding:10px;
    color:white;
    font-size: 20px;
    line-height: 200%;
    
}

blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    color:#6DD0CD;
    font-size: 25px;
}

footer p{
    margin:0
}

.content{
    padding: 2.5em 15em;
}
.caption{
    font-size:90%;
    text-align:center;
    margin:0;
    color:#9d9d9d;
}
.corner{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size:25px;
}
.content_block{
    padding:2.5em 0;
}
footer{
background-color: #235078;
    text-align:center;
    border-top:solid white;
    border-width:thin;
}
.modal{
    scrollbar-width: none;
}
.modal p{
    margin-top:1rem;
    color:dimgray;
}
.modal-header{
    padding:0;
}
.modal-header img{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-body{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 0;
}
.modal-body img{
    width:100%;
    padding:0 5em;
}
.modal-body p{
    padding:.5em 20%;
}
.carousel-item{
    line-height:0;
}
.carousel-item img, .carousel-item video{
    width:60%;
    vertical-align:top;
    display: inline-block;
}
.carousel-btn1{
    background-color:rgba(4,4,4,0.75);
    width:5%;
    margin:14.375vw 7.5%;
    border-radius:50%;
}
.carousel-btn2{
    background-color:rgba(4,4,4,0.75);
    width:5%;
    margin:18.7vw 7.5%;
    border-radius:50%;
}
.carousel-control-prev-icon1 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2335495f' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon1 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2335495f' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}
.author{
    margin:15px;
    color:#9d9d9d !important;
}
h1 {
    color: white;
}
.slides{
    padding:5em 0;
}

/* modal */
.modal-bg{
    background-attachment: fixed;
    background-size: 1140px 760px;
    background-position: center center;
    background-repeat: no-repeat;
    height:380px;
}
.modal-header{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    height:760px;
}
.modal-footer div{
    width:100%;
    text-align:center;
}

::-webkit-scrollbar {
    display: none;
}
